<template>
    <div>
        <pokemon-search class="mb-3" @search="value => { searchInput = value }"></pokemon-search>
        <div class="row">
            <div class="col">
                <h3>Pokemons <small>({{ total.toString() }})</small></h3>
                <hr>
            </div>
        </div>
        <div class="card-deck text-center" v-if="pokemons && pokemons.length">
            <pokemon v-for="pokemon in pokemons" :key="pokemon.name" :name="pokemon.name" @detailsClicked="displayDetails"></pokemon>
        </div>
        <div v-else>
            <h4>No pokemons found</h4>
        </div>
        <pagination 
            v-if="total"
            :total="total" 
            :page-size="perPage"
            :callback="onPageChange">
        </pagination>
        <pokemon-details :show="showDetails" @close="showDetails = false" :pokemon="pokemon"></pokemon-details>
    </div>
</template>
<script>
import Pagination from 'vue-pagination-bootstrap'
import PokemonDetailsComponent from './../components/PokemonDetailsComponent.vue';
import PokemonComponent from './../components/PokemonComponent.vue';
import PokemonSearchComponent from './../components/PokemonSearchComponent.vue';
export default {
    components: {
        'pagination': Pagination,
        'pokemon': PokemonComponent,
        'pokemon-search': PokemonSearchComponent,
        'pokemon-details': PokemonDetailsComponent
    },
    data: function () {
        return {
            pokemon: null,
            showDetails: false,
            searchInput: '',
            pokemons: [],
            total: 0,
            perPage: 16,
            currentPage: 1,
        }
    },
    created: function () {
        this.fetchPokemons();
    },
    computed: {
        pageCount: function () {
            return Math.ceil(this.total / this.perPage);
        }
    },
    watch: {
        searchInput: function () {
            this.currentPage = 1;
            this.fetchPokemons();
        }
    },
    methods: {
        fetchPokemons: function () {
            this.$axios.get('/api/pokemons.php?name=' + this.searchInput + '&page=' + this.currentPage).then(response => {
                this.pokemons = response.data.data;
                this.total = response.data.total;
                this.perPage = response.data.per_page;
                this.currentPage = response.data.current_page;
            }, error => {
                console.log(error.response);
            }).catch(error => {
                console.log(error.response);
            });
        },
        displayDetails: function (pokemon) {
            this.pokemon = pokemon;
            this.showDetails = true;
        },
        onPageChange (page) {
            this.currentPage = page;       
            this.fetchPokemons();
        }
    },
}
</script>