<template>
    <div class="modal fade" id="pokemonDetails" tabindex="-1" role="dialog" aria-labelledby="pokemonDetailsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pokemonDetailsTitle" v-if="pokemon">{{ pokemon.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="pokemon">
                    <div class="row">
                        <div class="col-6">
                            <img class="card-img-top" :src="pokemon.sprites.front_default">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="font-weight-bold"><h5>Name</h5></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                    <div class="lead">{{ pokemon.name }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="font-weight-bold"><h5>Weight</h5></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                    <div class="lead">{{ pokemon.weight }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="font-weight-bold"><h5>Height</h5></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                    <div class="lead">{{ pokemon.height }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="font-weight-bold"><h5>Species</h5></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                    <div class="lead">{{ pokemon.species.name }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="font-weight-bold"><h5>Abilities</h5></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                    <div>
                                        <span class="badge badge-info mt-1 mr-2 p-2" v-for="item in pokemon.abilities" :key="item.ability.name">
                                            {{ item.ability.name }} 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        show: { default: false, type: Boolean },
        pokemon: { default: null },
    },
    mounted () {
        var self = this;
        $('#pokemonDetails').on("hidden.bs.modal", function(){
            self.$emit('close');
        })
    },
    watch: {
        show: function (val) {
            if (val && this.pokemon) {
                this.open();
            }
        }
    },
    methods: {
        open: function() {
            $('#pokemonDetails').modal('show')
        },
        close: function() {
            $('#pokemonDetails').modal('hide')
        },
    }
};
</script>
