<template>
    <div class="col-sm-12 col-md-4 col-lg-3" v-if="pokemon">
        <div class="card mb-3 pokemon-card" @click="detailsClicked()">
            <img class="card-img-top" :src="imageSrc" :alt="name" v-if="imageSrcResolved">
            <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['name'],
    data: function () {
        return {
            pokemon: null,
            imageSrcResolved: false,
            imageSrc: '',
        }
    },
    created: function () {
        this.fetchPokemon();
    },
    methods: {
        fetchPokemon: function () {
            this.$axios.get('/api/pokemon.php?name=' + this.name).then(response => {
                this.pokemon = response.data.data;
                this.getImageSrc();
            }).catch(error => {
                console.log(error.response);
            });
        },
        getImageSrc: function () {
            this.$axios.get('/api/images.php?url=' + this.pokemon.sprites.front_default).then(response => {
                this.imageSrc = response.data.data;
                this.imageSrcResolved = true;
            }).catch(error => {
                console.log(error.response);
            });
        },
        detailsClicked: function () {
            this.$emit('detailsClicked', this.pokemon)
        }
    }
}
</script>