<template>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pokemon-search">Search</span>
                </div>
                <input type="text" class="form-control" placeholder="Type pokemon name here" aria-label="search" aria-describedby="pokemon-search" v-model="searchInput" @input="onSearch">
            </div>
        </div>
    </div>
</template>
<script>
import lodash from 'lodash';
export default {
    data: function () {
        return {
            searchInput: ''
        }
    },
    methods: {
        onSearch: _.debounce(function () {
            this.$emit('search', this.searchInput);
        }, 500)
    }
}
</script>
